@model IEnumerable<PointOfSalesSystem.Models.VatReturn>

@{
    ViewData["Title"] = "VAT Returns";
}

<h2 class="mb-3">VAT Returns</h2>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        No VAT returns available.
    </div>
}
else
{
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Sale ID</th>
                <th>VAT Amount</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SaleId</td>
                    <td>@item.VATAmount.ToString("C", new System.Globalization.CultureInfo("en-MU"))</td>
                    <td>@item.ReturnDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}
